@import 'Variables';

.body {
  background-color: $app-background;
}

.app-page {
  margin-left: 5em;
  padding-left: 1em;
}

.navbar {
  height: 100vh;
  width: 5em;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $nav-background;
  margin-right: 1em;
  padding-top: 1.25em;
}

.navFont {
  color: white;
  margin: 0 auto;
  width: 2em;
}

.navButton {
  background-color: $nav-background;
  text-align: center;
  min-height: 3.5em;
  padding: 0.5em;

  svg {
    // SOS Please someone save me
  }
}

.navButton:hover {
  background-color: $nav-hover;
}

.chart {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.chart-horizontal-primary {
  height: 15em;
  width: 35em;
  background-color: rgb(236, 238, 228);
}

.chart-square-primary {
  height: 15em;
  width: 15em;
  background-color: rgb(236, 238, 228);
}