@import 'Variables';

.number-display {
  width: 100%;
  height: 100%;
  background-color: $white-wash;
  text-align: center;
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.number-display-number {
  font-size: 5em;
  font-weight: bold; 
  color: $dark-grape;
}

.number-display-title {
  color: grey;
}

