@import 'Variables';

.body {
  background-color: $app-background;
}

.project {
  border-left-style: solid;
  border-color: #08708A;
  text-indent: 20px;
}

.btn {
  background-color: #08708A;
  color: white;
  padding: 14px 25px;
  text-align: center;
}

.btn:hover {
  background-color: #56B1BF;
  cursor: pointer;
}

.gh-btn {
  background-color: #08708A;
  color: white;
  padding: 14px 25px;
  text-align: center;
  position: relative;
  left: 40%;
}

.gh-btn:hover {
  background-color: #56B1BF;
  cursor: pointer;
}