@import 'Variables';

.body {
  background-color: $app-background;
}

.project {
  text-decoration: none;
  border-left-style: solid;
  border-color: #08708A;
  text-indent: 20px;
  font-size: 20px;
  a {
    text-decoration: none;
  }
}

.team-member-info {
  font-size: 12px;
  text-decoration: none;
}

.btn {
  background-color: #08708A;
  color: white;
  padding: 14px 25px;
  text-align: center;
}

.btn:hover {
  background-color: #56B1BF;
  cursor: pointer;
}

.gh-btn {
  background-color: #08708A;
  color: white;
  padding: 1.2em 2.2em;
  text-align: center;
  position: relative;
  left: 8px;
}

.gh-btn:hover {
  background-color: #56B1BF;
  cursor: pointer;
}

.small-icon {
  margin-right: 0.25em;
}

.project-button {
  background-color: #08708A;
  color: white;
  padding: 1.2em 2.2em;
  text-align: center;
}

.project-selector-container {
  display: inline-block;
}

.project-selector-title {
  display: inline-block;
  margin: 0px auto;
  margin-right: 0.5em;
  color: grey;
}

.project-selector {
  display: inline-block;
  margin-right: 1em;
}