@import 'Variables';

.team-members {
  display: flex;
  justify-content: space-between;
}

.team-member-card {
  width: 100%;
  height: 100%;
  background-color: $white-wash;
  text-align: center;
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.team-member-picture {
  display: inline-block;
  width: 12em;
  height: 12em;
  margin: 1em;

  img {
    width: 100%;
    height: 100%;
  }
}

.team-member-info {
  h3 {
    color: $blue-dark;
  }
}

