@import 'Variables';

.team-members {
  
}

.team-member-page-card {
  width: 15em;
  margin-right: 1em;
  margin-bottom: 1em;
  float: left;
}

.team-member-card {
  height: 100%;
  background-color: $white-wash;
  text-align: center;

  p {
    color: grey;
  }
}

.team-member-picture {
  display: inline-block;
  width: 12em;
  height: 12em;
  margin: 1em;

  img {
    width: 100%;
    height: 100%;
  }
}

.team-member-info {
  h3 {
    color: $blue-dark;
  }
}

